{% extends "layout.html" %}
{% load static %}
{% load static tailwind_tags %}

{% block content %}
<!-- Main Content -->
<main class="container grid mx-auto p-32 drop-shadow-lg align-center justify-center">
    <!-- Email Detail -->
    <div class="rounded-xl overflow-hidden" style="max-width: 720px; min-width: 480px; height: auto;">
        <div class="grid grid-cols-[1fr_3fr] grid-rows-3 gap-4 w-full h-48 p-8 mx-12 bg-[#17120B]">
            <div class="text-[#928471]">FROM:</div>
            <div class="text-white"> {{ email.connected_brand }} </div>
            <div class="text-[#928471]">SUBJECT:</div>
            <div class="text-white"> {{ email.email_subject }} </div>
            <div class="text-[#928471]">TAGS:</div>
            <div class="text-white"> {{ email.email_category }} • {{ email.email_type }} </div>
        </div>

        <div class="h-auto w-full">
            <img class="h-full w-full" src="{{ email.email_body.url }}" alt="Email Attachment">
        </div>
    </div>
</main>
{% endblock %}
