/* Core CSS for buttons */
.filter-button {
    padding: 0.4rem 1.4rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 9999px;
    border-color: 1px solid rgba(255, 255, 255, 0.35);
    background-color: rgba(255, 255, 255, 0.07);
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.3s ease 0s all;
}
  
/* Hover */
/* .filter-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.5);
    border-color: 1px solid rgba(255, 255, 255, 0.35);
} */
  
/* Active */
.filter-button-active {
    background-color: #2D1610;
    color: #FFA37E;
    border-color: 1px solid rgba(255, 255, 255, 0.35);
}
  
.filter-button-active::after {
    content: url("../assets/CheckCircle.png");
    display: inline-block;
    width: 1rem;
    height: 1.2rem;
    padding: 0rem;
    margin: 0rem;
}
  
/* Hover only if not active */
.filter-button:not(.filter-button-active):hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.5);
    border-color: 1px solid rgba(255, 255, 255, 0.35);
}
