{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Inbox Garage{% endblock %}</title>
    {% block custom_css %} 
    {% if debug %}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% else %}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    {% endif %}
    {% endblock %}
</head>


<body class="min-h-screen">
    <!-- Sidebar -->
    {% block sidebar %}
    <aside class="fixed left-0 top-0 h-full w-[120px] bg-[#F1EFE0] border-r border-[#111111]/10 flex flex-col items-start justify-start pl-6 py-6 animate-slide-in">
        <div class="mb-8 justify-start">
            <a href="/" class="block w-12 h-auto">
                <img src="{% static 'assets/LogoFull.png' %}" alt="">
            </a>
        </div>
        
        <nav class="flex flex-col items-start space-y-6">
            <!-- Email Button -->
            <a href="/" 
               class="nav-link text-sm font-medium transition-all hover:scale-105 
               {% if request.path == '/' %}text-[#FF3500] font-bold{% else %}text-[#17120B]/80 hover:text-[#17120B]{% endif %}">
                Email
            </a>
        
            <!-- Brands Button -->
            <a href="{% url 'brand' %}" 
               class="nav-link text-sm font-medium transition-all hover:scale-105 
               {% if request.path == '/brand/' %}text-[#FF3500] font-bold{% else %}text-[#17120B]/80 hover:text-[#17120B]{% endif %}">
                Brands
            </a>
        
            <!-- Templates Button -->
            <a href="{% url 'templates' %}" 
               class="nav-link text-sm font-medium transition-all hover:scale-105 
               {% if request.path == '/templates/' %}text-[#FF3500] font-bold{% else %}text-[#17120B]/80 hover:text-[#17120B]{% endif %}">
                Templates
            </a>
        </nav>
    </aside>
    {% endblock %}

    <div class="pl-[120px] min-h-screen">
        <!-- Header -->
        {% block header %}{% endblock %}

        {% block content %}{% endblock %}
        
        {% block footer %}
        <!-- Footer -->
        <footer class="mt-12 py-6 bg-[#17120B] text-[#FF3500]">
            <div class="container mx-auto px-8 pl-[120px]">
                <div class="flex w-full items-center mb-4 md:mb-0">
                    <img src="{% static 'assets/Mailbox.png' %}" class="h-16 w-auto" alt="">
                    <span class="text-7xl font-bold">Inbox Garage</span>
                </div>
                
                <div class="mt-6 text-right">
                    <p class="text-sm text-gray-400">©2025 Inbox Garage. All rights reserved.</p>
                </div>
            </div>
        </footer>
        {% endblock %}
    </div>

    {% block login_page %}{% endblock %}

</body>


</html>